
#shrewd-loader
  position: fixed
  right: 20px
  bottom: 20px
  width: 200px
  height: 100px
  background-image: url("/images/loader-pending.jpg")
  background-size: cover
  background-repeat: no-repeat
  background-position: 50% 50%
  border: 2px solid $white
