
@import "sass/utilities/initial-variables"
$info: #d90016

@import "bulma.sass"

@import "components/tooltip"
@import 'v-calendar/src/styles/lib.sass'

@import "../css/template.css"
@import "../css/lib.css"
@import "loader"

html
  overflow: auto
body
  min-height: 100vh
.hero-body .container
  max-width: 70vw

.navbar
  > .container
    min-height: 5rem

.navbar-item
  img
    max-height: 3rem

.hero.is-medium .hero-body
  padding-top: 2rem
  padding-bottom: 3rem

.input
  border: 0
.textarea
  border: 0
.button
  border: 0
  &[type="submit"]
    i.is-right
      padding-left: 10px


#report .grid
  display: flex
  flex-wrap: wrap
  .day
    padding: 3px
    flex-basis: 100%
    @media (min-width: 600px)
      margin: 3px
      flex-basis: calc(33.333% - 6px)

    + .day
      @media (max-width: 599px)
        margin-top: 3px


.day
  >.box
    height: 100%
  h3
    color: white
    font-weight: bolder
    > .tag
      float: right


  &.is-valid
    .box
      background: $primary
  &.is-wrong
    .box
      background: $danger

.snippet
  &:not(.active)
    @extend .is-danger.is-inverted
  &.active
    @extend .is-primary


  //width: 25%
  //height: 25%
  //vertical-align: top
  //display: inline-block
  //padding: 4px

//.hero.is-medium .hero-body
//  background-image:   linear-gradient(141deg, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%)

.issue
  span
    width: 100%
    display: inline-block

.tooltip
  display: block !important
  z-index: 10000
  .tooltip-inner
    background: black
    color: white
    border-radius: 16px
    padding: 5px 10px 4px
  .tooltip-arrow
    width: 0
    height: 0
    border-style: solid
    position: absolute
    margin: 5px
    border-color: black
    z-index: 1
  &[x-placement^="top"]
    margin-bottom: 5px
    .tooltip-arrow
      border-width: 5px 5px 0 5px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      bottom: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0
  &[x-placement^="bottom"]
    margin-top: 5px
    .tooltip-arrow
      border-width: 0 5px 5px 5px
      border-left-color: transparent !important
      border-right-color: transparent !important
      border-top-color: transparent !important
      top: -5px
      left: calc(50% - 5px)
      margin-top: 0
      margin-bottom: 0
  &[x-placement^="right"]
    margin-left: 5px
    .tooltip-arrow
      border-width: 5px 5px 5px 0
      border-left-color: transparent !important
      border-top-color: transparent !important
      border-bottom-color: transparent !important
      left: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0
  &[x-placement^="left"]
    margin-right: 5px
    .tooltip-arrow
      border-width: 5px 0 5px 5px
      border-top-color: transparent !important
      border-right-color: transparent !important
      border-bottom-color: transparent !important
      right: -5px
      top: calc(50% - 5px)
      margin-left: 0
      margin-right: 0
  &.popover
    .popover-inner
      background: #f9f9f9
      color: black
      padding: 24px
      border-radius: 5px
      box-shadow: 0 5px 30px rgba(black, 0.1)
    .popover-arrow
      border-color: #f9f9f9
  &[aria-hidden='true']
    visibility: hidden
    opacity: 0
    transition: opacity .15s, visibility .15s
  &[aria-hidden='false']
    visibility: visible
    opacity: 1
    transition: opacity .15s


// Vue calendar
.c-weeks
  color: #323232
  border: 0px !important
.c-pane-container
  -webkit-border-radius: 25px
  -moz-border-radius: 25px
  border-radius: 25px
.c-pane
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
.c-day-background
  border-width: 0px !important
  background-color: $primary !important

.footer
  background-color: white
  padding: 2rem 1.5rem 2rem

// Grid result
#report
  .grid
    .box
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      border-radius: 5px
      box-shadow: none

// Loader animation
#slidecaption
  -webkit-animation-name: spinner
  -webkit-animation-timing-function: linear
  -webkit-animation-iteration-count: infinite
  -webkit-animation-duration: 1s
  animation-name: spinner
  animation-timing-function: linear
  animation-iteration-count: infinite
  animation-duration: 1s
  -webkit-transform-style: preserve-3d
  -moz-transform-style: preserve-3d
  -ms-transform-style: preserve-3d
  transform-style: preserve-3d

@-webkit-keyframes spinner
  from
    -webkit-transform: rotateY(0deg)
  to
    -webkit-transform: rotateY(-360deg)

@keyframes spinner
  from
    -moz-transform: rotateY(0deg)
    -ms-transform: rotateY(0deg)
    transform: rotateY(0deg)
  to
    -moz-transform: rotateY(-360deg)
    -ms-transform: rotateY(-360deg)
    transform: rotateY(-360deg)

// Notifications custom template
// SCSS:

.toast
  background: transparent !important

  .notification-title
    bottom: 0
    left: 0
    position: absolute
    right: 0
    top: 0
    background-color: rgba(10, 10, 10, 0.86)

  .notification-content
    overflow: auto
    position: relative
    margin: 0 auto
    max-height: calc(100vh - 40px)
    width: 640px
    border-radius: 5px
    padding: 20px
    text-align: center
    background-color: $primary
    color: white
    font-size: 1.4rem
    font-weight: 600



@media only screen and (min-width: 769px)
  .reverse-row-order
    flex-direction: row-reverse

