extends layout

block headerbody
    section#period_form
        DatePicker(v-on:datechanged="refreshActivitiesWithDates")

block content
    vue-snotify
    .intro.column.is-8.is-offset-2
        //h3.title Take a closer look at that snout !
    section#report
        notifications(group="all", classes="modal is-active")
        section.grid
            section(v-for="day in report ", :class="dayValidityClass(day)").day
                section.box
                    h3.title  {{ day.date | formatted }}
                        span.is-large.is-rounded.tag
                            | {{ dayTime(day) | rounded }}
                    ul(v-if='day.issues')
                        li(v-for="issue in day.issues")
                            section.issue.columns.is-mobile
                                .column.is-4
                                    div.is-size-6(v-on:mouseover.once="showIssueDetails(issue,$event)", v-tooltip="{content: issue.description, trigger:'manual hover'}")
                                        | \#{{ issue.id }}

                                section(v-for="activity in issue.activities").column
                                    section
                                        div.columns
                                            .column
                                                .field.has-addons
                                                    p.control
                                                        a.button.is-static
                                                            |  {{ activity.id | uppercase }}
                                                    p.control
                                                        input.input(type='number', step="0.25", v-model="activity.time_spent" )

        form(v-on:submit="sendReport", v-if='!_.isEmpty(report)').section
            .control.has-icons-right.has-text-centered
                button(type="submit", action="#", value="").button.is-info.is-large.is-rounded
                    | OK, direction Redmine
                    i.fas.fa-arrow-circle-right.is-right