doctype html
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Tartine - Ne perdez plus une miette de votre temps
        link(
            rel='stylesheet',
            href='https://use.fontawesome.com/releases/v5.0.9/css/all.css',
            integrity='sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1',
            crossorigin='anonymous'
        )
        link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet')
        link(href='https://unpkg.com/flatpickr@4/dist/flatpickr.min.css', rel='stylesheet')

        // Icons
        link(rel='apple-touch-icon', sizes='180x180', href='icons/apple-touch-icon.png')
        link(rel='icon', type='image/png', sizes='32x32', href='icons/favicon-32x32.png')
        link(rel='icon', type='image/png', sizes='16x16', href='icons/favicon-16x16.png')
        link(rel='manifest', href='icons/site.webmanifest')
        link(rel='mask-icon', href='icons/safari-pinned-tab.svg', color='#d0011b')
        meta(name='apple-mobile-web-app-title', content='Tartine')
        meta(name='application-name', content='Tartine')
        meta(name='msapplication-TileColor', content='#d0011b')
        meta(name='theme-color', content='#ffffff')

        // Bulma Version 0.6.2
        link(rel='stylesheet', type='text/css', href='css/main.css')
        script(src='https://unpkg.com/vue-flatpickr-component')
        script(src='https://unpkg.com/flatpickr@4/dist/flatpickr.min.js')

    body
        section.hero.is-info.is-medium.is-bold
            .hero-head
                nav#top-menu.navbar
                    .container
                        .navbar-brand
                            a.navbar-item(href='../')
                                img(src='images/logo_title_w.png', alt='Logo')
                        .navbar-end
                            .navbar-item
                                a.button.is-rounded#keybtn(@click='showAccount()')
                                    span.icon
                                        i.fas.fa-key
                                    span Configurer mes clés d'API

            .hero-body
                .container
                    block headerbody
        section#content.container
            block content
        //section#shrewd-loader(:style="{ 'background-image': 'url(' + src + ')' }")

        #account.modal(:class="{ 'is-active' : show}")
            .modal-background(@click='hideAccount()')
            .modal-content
                .box
                    h3.title Configurer mes clés d'API
                    form.form
                        .field
                            .control.has-icons-left
                                input.input.is-medium.control(v-model='keys.toggl', placeholder="Clé API Toggle")
                                span.icon.is-medium.is-left
                                    i.fas.fa-power-off
                        .field
                            .control.has-icons-left
                                input.input.is-medium.control(v-model='keys.redmine', placeholder="Clé API Redmine")
                                span.icon.is-medium.is-left
                                    i.fas.fa-registered
                button.modal-close.is-large(@click='hideAccount()')

        #loader.modal(v-bind:class="getClass()")
            .modal-background
            .modal-content.has-text-centered
                img#slidecaption(src='images/logo_icon.svg')


        script(src="js/app.js")