html,body {
    background: #EFF3F4;
    font-family: 'Open Sans', serif;
}
.hero-body .container {
    max-width: 700px;
}
.hero-body .title {
    color: hsl(192,17%,99%) !important;
}
.hero-body .subtitle {
    color: hsl(192,17%,99%) !important;
    padding-top: 0;
    line-height: 1.5;
}
.features {
    padding: 5rem 0;
}
.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}
.card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
}
.card-content .content h4 {
    font-size: 16px;
    font-weight: 700;
}
.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
}
.intro {
    padding: 5rem 0;
    text-align: center;
}
.sandbox {
    padding: 5rem 0;
}
.tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
}