<template lang="jade">
    section.columns.reverse-row-order
        .column.is-two-third
            h1.title
                witty-comment
            h2.subtitle
                | Je choisis ma période de temps à envoyer comme temps passé vers Redmine
            .buttons
                button.snippet.button.is-medium.is-rounded(
                v-for="(snippet, key) in snippets",  v-on:click='callSnippet(key)',
                :class="{ active: snippet.isActive}"
                )
                    | {{ snippet.label }}
        .column.is-one-third
            v-date-picker(
                mode='range',
                tint-color='#ff6666',
                v-model='selectedDate',
                :theme-styles='themeStyles',
                locale='fr'
                is-inline="is-inline")
</template>


<script>
    const DATE_FORMAT = 'YYYY-MM-DD';
    import moment from 'moment';
    import VCalendar from 'v-calendar'
    import WittyComment from './WittyComment.vue';
    import * as Vue from "vue/dist/vue.min";

    // Register component(s)
    Vue.use(VCalendar,{
        firstDayOfWeek: 3,  // Monday,
        locale: 'fr',  // Monday,
    });


    export default {
        watch: {
            selectedDate: function () {
                Object.values(this.snippets).map(snippet=>snippet.isActive = false);
                this.$emit('datechanged', this.selectedDate);
            },
        },
        data() {
            return {
                selectedDate: {
                    start: new Date(),
                    end: new Date()
                },
                themeStyles: {
                    wrapper: {
                        border: '0', // Override the default border
                    },
                    header: {
                        color: '#fafafa',
                        backgroundColor: '#363636',
                    },
                    headerVerticalDivider: {
                        borderLeft: '1px solid #404c59',
                    },
                    weekdays: {
                        color: '#7d7e84',
                        backgroundColor: '#363636',
                        paddingTop: '5px',
                        paddingBottom: '10px',
                    },
                    weekdaysVerticalDivider: {
                        borderLeft: '1px solid #404c59',
                    },
                    weeks: {
                        border: '1px solid #dadada',
                    },
                },

                snippets: {
                    yesterday: {
                        label: "Hier",
                        "function": function () {
                            this.updateSelectedDates(moment().subtract(1, 'day')._d, moment().subtract(1, 'day')._d);
                        },
                        isActive: false
                    },
                    today: {
                        label: "Aujourd'hui",
                        "function": function () {
                            this.updateSelectedDates(moment()._d, moment()._d);
                        },
                        isActive: true
                    },
                    this_week: {
                        label: "Cette semaine",
                        'function': function () {
                            this.updateSelectedDates(moment().startOf('week')._d,
                                moment().endOf('week')._d);
                        },
                        isActive: false
                    },
                    this_month: {
                        label: "Ce mois",
                        'function': function () {
                            this.updateSelectedDates(moment().startOf('month')._d,
                                moment().endOf('month')._d);
                        },
                        isActive: false
                    },

                },
                callSnippet(key){
                    Object.values(this.snippets).map(snippet=>snippet.isActive = false);
                    this.snippets[key].function.call(this);
                    this.snippets[key].isActive=true;
                },
            };

        },

        methods: {
            updateSelectedDates(beginning_date, ending_date) {
                this.selectedDate.start = beginning_date;
                this.selectedDate.end = ending_date;

                this.$emit('datechanged', this.selectedDate);
            }
        },
        components:{
            WittyComment,
            VCalendar
        }
    };
</script>