<template lang="pug">
    span
        | {{ randomWittyComment() }}
</template>

<script>
    export default {
        name: 'witty-comment',
        data: function(){
            return {
                witty_comments: [
                    'De Toggle vers Redmine, en quelques clics',
                    'Un peu de confiture avec votre saisie de temps facile ?',
                    'Avant j\'avais RedMine, maintenant j\'ai du temps libre',
                    'Soyez votre propre Nazi Dotsafe. Mais en moins Nazi.',
                    'Une tasse de thé et du timetracking, rien de plus facile.',
                    'Mon royaume pour une Tartine.',
                    'Croquez la Tartine à pleines dents.',
                    'Le temps c\'est de l\'argent. Economisez les deux.',
                    'Ne perdez plus une miette de votre temps.',
                    'Aussi simple que d\'étaler de la confiture sur du pain.',
                    `Montre moi ce qu'il y a entre tes pattes, Et demain, tu verras, tu boites.`,
                ]
            }
        },
        methods:{

            randomWittyComment: function () {
                let witty_comment_index = Math.floor(Math.random() * (this.witty_comments.length));
                if(localStorage.hasSeenPoetry){
                    return this.witty_comments[witty_comment_index]
                }
                localStorage.hasSeenPoetry = "true";
                return this.witty_comments[10];
            },
        }
    }
</script>